{% extends 'base.html' %}
{% load static %}

{% block script %}

    {{ block.super }}

    <script type="text/javascript">

        $(document).ready(function(){

            $('.apartment_area').bind('mouseover', function(event){
                var area = $(this);
                area.blur();
                $('.building__apartment_link, .building__apartment_description').hide();
                $('.apartment_' + area.attr('data-target')).css({display:'inline-block'});
                $('.building__floorPlan__image').css({
                    backgroundImage: 'url('+area.attr('data-image')+')'
                });
            }).bind('mouseout', function(event){
                $('.building__apartment_link, .building__apartment_description').hide();
                $('.building__floorPlan__image').css({
                    backgroundImage: 'none'
                });
            });

        });

    </script>

{% endblock %}

{% block content %}

{% with building=current_building %}

    <div class="building__description">

        <h1>{% spaceless %}
            {% for building in buildings_list %}
                {% if building == current_building %}
                    {{ forloop.counter }}.
                {% endif %}
            {% endfor %}
            {{ building.name }}
            {% endspaceless %}
        </h1>

        <div class="building__descriptionInner">

            {% for apartament in building.apartments_set.all %}
                <div class="building__apartment_description apartment_{{ apartament.id }}">

                    {% autoescape off %}
                        {{ apartament.description }}
                    {% endautoescape %}

{#                    <a href="{% url 'apartment_detail' building_id=building.id apartment_id=apartament.id %}"#}
{#                       class="building__apartment_link apartment_{{ apartament.id }}">#}
{#                        посмотреть планировку#}
{#                    </a>#}

                </div>
            {% endfor %}

        </div>

    </div>

    <div class="building__floorPlan" >

        <img src="{{ building.plan.url }}" class="building__floorPlan__image" usemap="#building_map" />
        <map id="building_map" name="building_map">
            {% for apartment in building.apartments_set.all %}
                {% for area in apartment.get_plan_fill_areas %}
                    <area shape="poly"
                          coords="{{ area }}"
                          data-image="{{ apartment.plan_fill.url }}"
                          data-target="{{ apartment.id }}"
                          class="apartment_area apartment_{{ apartment.id }}"
                          href="{% url 'apartment_detail' building_id=building.id apartment_id=apartment.id %}"
                          hidefocus="true" />
                {% endfor %}
            {% endfor %}
        </map>

    </div>

{% endwith %}

<div class="building__otherBuildings">
    {% for building in buildings_list %}
        {% if current_building != building %}

            <div class="building__otherBuildings__building">

                <div class="building__otherBuildings__building_title">

                    <h2>{% spaceless %}
                        <a href="{% url 'building_detail' building_id=building.id %}">
                            {{ forloop.counter }}.
                            {{ building.name }}
                        </a>
                    {% endspaceless %}</h2>

                    <a href="{% url 'building_detail' building_id=building.id %}"
                       class="building__otherBuildings__building_link">{% spaceless %}
                        Посмотреть планировку
                    {% endspaceless %}</a>

                </div>
            
                <div class="building__otherBuildings__building_preview">

                    <a href="{% url 'building_detail' building_id=building.id %}">
                        <img src="{{ building.plan.url }}"
                             class="building__otherBuildings__building_preview_image" />
                    </a>
                    
                </div>

                <div class="building__otherBuildings__building_description">

                    {% autoescape off %}
                        {{ building.description }}
                    {% endautoescape %}

                </div>

            </div>

        {% endif %}
    {% endfor %}
</div>

{% endblock %}