{% extends 'base.html' %}
{% load static %}

{% block script %}

    {{ block.super }}

    <script type="text/javascript" src="{% static 'js/jquery.rwdImageMaps.min.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function(){

            $('.apartment_area').bind('click mouseover', function(event){
                event.preventDefault();
                var area = $(this);
                area.blur();
                $('.building__apartment_link').hide();
                $('#apartment_' + area.attr('data-target')).css({display:'inline-block'});
                $('.building__floorPlan__image').css({
                    backgroundImage: 'url('+area.attr('data-image')+')'
                });
            });

        });

    </script>

{% endblock %}

{% block content %}

{% with building=current_building %}

    <div class="building__description">

        <h1>{% spaceless %}
            {% for building in buildings_list %}
                {% if building == current_building %}
                    {{ forloop.counter }}.
                {% endif %}
            {% endfor %}
            {{ building.name }}
            {% endspaceless %}
        </h1>

        <div class="building__descriptionInner">

            {% autoescape off %}
                {{ building.description }}
            {% endautoescape %}

            {% for apartament in building.apartments_set.all %}
                <a href="{% url 'apartment_detail' building_id=building.id apartment_id=apartament.id %}"
                   class="building__apartment_link"
                   id="apartment_{{ apartament.id }}">
                    посмотреть планировку
                </a>
            {% endfor %}

        </div>

    </div>

    <div class="building__floorPlan" >

        <img src="{{ building.plan.url }}" class="building__floorPlan__image" usemap="#building_map" />
        <map id="building_map" name="building_map">
            {% for apartment in building.apartments_set.all %}
                {% for area in apartment.get_plan_fill_areas %}
                    <area shape="poly"
                          coords="{{ area }}"
                          data-image="{{ apartment.plan_fill.url }}"
                          data-target="{{ apartment.id }}"
                          class="apartment_area apartment_{{ apartment.id }}"
                          href="{% url 'apartment_detail' building_id=building.id apartment_id=apartment.id %}"
                          hidefocus="true" />
                {% endfor %}
            {% endfor %}
        </map>

    </div>

{% endwith %}

{% for building in buildings_list %}
    {% if current_building != building %}
        <h2><a href="{% url 'building_detail' building_id=building.id %}">{{ building.name }}</a></h2>
    {% endif %}
{% endfor %}

{% endblock %}