@import "reset";
@import "default";

html {
  height: 100%;
  min-height: 700px;
}
body {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  .fontThin;
  color: @COLOR_BLACK;
}

.header, .section, .footer {
  .displayBlock;
  .boxSizing();
  margin: 0 auto;
  padding: 15px 90px 20px 35px;
  width: 100%;
  position: relative;
  left: 0;
  text-align: left;
}

.header {

  top: 0;
  height: 120px;

  &__logo {
    .displayBlock(visible);
    float: left;
    width: 70px;
    height: auto;
    padding-top: 75px;
    text-align: right;
    background: url("../img/header_logo.png") right top no-repeat;
    font-size: @FONT_SIZE_SMALL;
    .systemLink(@COLOR_GRAY);
  }

  &__menu_list {
    .systemList(left, 0 0 0 30px, 0, 0);
    float: right;
    &__item {
      &__link {
        .displayBlock;
        text-align: center;
        .systemLink(@COLOR_GRAY);
        min-width: 97px;
        padding: 25px 15px 5px;
        font-size: @FONT_SIZE_TINY;
        text-transform: uppercase;
        .fontBook;
        &Current {
          position: relative;
          .systemLink(@COLOR_WHITE);
          background: url(../img/active_menu_item_backgroud.png) center bottom no-repeat, url("../img/active_menu_item_top.png") center top no-repeat;
          .fontSemiBold;
        }
      }
    }

  }

}

.section {

  top: 0;

  .building {

    @DESCRIPTION_COL_WIDTH: 15%;
    @DESCRIPTION_COL_PADDING: 50px;
    @FLOOR_MARGIN_BOTTOM: 60px;

    &__description {

      .displayBlock();
      float: left;
      width: @DESCRIPTION_COL_WIDTH;

      p {
        .fontThin;
      }

      strong, b {
        .fontBold;
      }

    }

    &__apartment_link {
      .linkLikeMarker();
      display: none;
    }
    &__apartment_description {
      display: none;
    }

    &__floorPlan {

      .displayBlock();
      width: (100%-@DESCRIPTION_COL_WIDTH);
      padding-left: @DESCRIPTION_COL_PADDING;
      float: left;
      .boxSizing();

      &__image {
        .displayBlock();
        width: 100%;
        height: auto;
        .backgroundSize(100%, 100%);
      }

    }

    &__otherBuildings {

      .displayBlock();
      margin-left: @DESCRIPTION_COL_WIDTH;
      padding-left: @DESCRIPTION_COL_PADDING;
      float: left;
      clear: left;

      @OTHER_BUILDING_ITEM_TITLE_WIDTH: 305px;

      &__building {

        .displayBlock();
        margin-top: @FLOOR_MARGIN_BOTTOM;

        &_title {

          .displayBlock();
          float: left;
          width: @OTHER_BUILDING_ITEM_TITLE_WIDTH;
          padding-top: 50px;

          h2 {
            .h1;
          }

          &_link {
            .systemLink(@COLOR_BLACK);
          }

        }

        &_preview {
          .displayBlock();
          float: left;
          min-width: 250px;
          max-width: 640px;
          padding-left: 15px;
          &_image {
            .displayBlock();
            max-width: 100%;
            height: 130px;
          }
        }

        &_description {
          padding-left: 30px;
          .displayBlock();

          p {
            margin-bottom: 0;
          }

        }

      }

    }

  }

  .apartment {

    &__building_list, &__plan, &__description {

      .displayBlock();
      float: left;
      .boxSizing();

    }

    &__building_list {

      width: 35%;
      padding-right: 25px;

      &__building {

        .displayBlock();
        padding-bottom: 50px;

        &_image {
          margin-bottom: 10px;
          max-width: 100%;
        }

        &_name {
          .h1;
        }
        &_link {
          .systemLink(@COLOR_BLACK);
        }

      }

    }

    &__plan {

      width: 33%;
      padding: 0 25px;

      &_image {
        .displayBlock();
        width: 100%;
      }

    }

    &__description {

      width: 32%;
      padding-left: 25px;

      &__price {

        .displayBlock();
        padding-top: 65px;

        &_prefix, &_value, &_unit_up, &_unit_outer, &_unit_up, &_unit {
          .displayBlock();
          color: @COLOR_GRAY;
          .fontThin;
          float: left;
        }

        &_prefix {
          font-size: 33px;
          padding-top: 46px;
        }
        &_value {
          color: @COLOR_GREEN;
          font-size: 87px;
          .fontBlack;
          letter-spacing: -10px;
          padding-right: 10px;
        }
        &_unit_up {
          font-size: 27px;
          margin-bottom: -11px;
          padding-top: 21px;
        }
        &_unit {
          font-size: 44px;
          .fontBold;
          clear: both;
        }

      }

      &__navigator {

        .displayBlock();
        text-align: right;
        padding-top: 120px;

        &_link {

          display: inline-block;
          margin-left: 22px;

          &Feedback {
            .systemLink(@COLOR_DARK_GREEN);
            .fontBold;
          }
          &GoBack {
            .systemLink(@COLOR_BLACK);
            .fontRegular;
          }

        }

      }

    }

  }

  .slider {

    .displayBlock();
    position: relative;
    left: 0;

    &Wrapper {
      .displayBlock();
      width: 100%;

      .wrap_image {
        opacity: 0;
        .displayBlock();
        width: 100%;
        height: auto;
        float: left;
        margin-left: -100%;
      }

    }

    &__navigator_container {
      .displayBlock(visible);
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 40px;
      z-index: 1;
      width: 100%;
    }

    &__navigator {

      @NAVIGATOR_HEIGHT: 130px;

      .systemList();
      min-height: @NAVIGATOR_HEIGHT;
      overflow: visible;
      float: right;

      > li {
        overflow: visible;
      }

      &__item {
        text-align: center;
        min-height: 104px;

        &Description {
          position: relative;
          height: @NAVIGATOR_HEIGHT;
          &Digit {
            .displayBlock(visible);
            font-size: 135px;
            color: @COLOR_GREEN;
            float: left;
            .fontBlack;
            left: 0;
            top: 0;
            letter-spacing: -23px;
            padding-right: 23px;
          }
          &Line1, &Line2 {
            .displayBlock(visible);
            font-size: 37px;
            color: @COLOR_GRAY;
            .fontRegular;
            right: 10px;
            text-align: right;
            white-space: nowrap;
            top: 75px;
            float: right;
            position: relative;
            .fontRegular;
            &Fake {
              //opacity: 0;
              position: static;
              float: right;
              color: red;
            }
          }
          &Line1 {
            font-size: 53px;
            top: 35px;
            line-height: 32px;
          }
          &Line2 {
            font-size: 23px;
            clear: right;
            top: -40px;
          }
        }

        &__more {
          position: absolute;
          top: 135px;
          right: 0;

          &Block {
            .displayBlock(visible);
            display: none;
            background: #fffccf;
            background: rgba(255, 255, 255, 0.63);
            .borderRadius(10px);
            width: 240px;
            padding: 1em;
            .boxSizing();
            color: @COLOR_BLACK;
            font-size: @FONT_SIZE_SMALL;
            text-align: left;
          }

          &Link, &HideLink {
            display: inline-block;
            line-height: 24px;
            color: @COLOR_WHITE;
            font-size: 13px;
            position: absolute;
            top: 120px;
            .systemLink(@COLOR_WHITE);
          }
          &Link {
            background: none;
            .backgroundSize(100%, 100%);
            right: 0;
            min-width: 83px;
            .systemLink(@COLOR_GRAY);
            &:hover {
              background: url("../img/slider__navigator__item__moreLink.png") left top no-repeat;
              color: @COLOR_WHITE;
            }
          }
          &HideLink {
            background: url("../img/slider__navigator__item__moreHideLink.png") left top no-repeat;
            .backgroundSize(100%, 100%);
            display: none;
            right: 10px;
            margin-top: 25px;
            min-width: 66px;
          }

        }

      }

      &_arrow {
        .displayBlock();
        .systemLink();
        position: relative;
        top: 0;
        bottom: 0;
        width: 47px;
        background: url("../img/slider_navigator_arrow.png") center center no-repeat;
        text-indent: -9000px;
        min-height: @NAVIGATOR_HEIGHT;
        float: right;
        &Left {
          left: 0;
        }
        &Right {
          right: 0;
          .cssRotate(180deg);
        }
      }
      &Wrapper {
        position: relative;
        .displayBlock(visible);
        float: right;
      }
    }

    &__slide_item {
      .displayBlock();
      float: left;
      .backgroundSize(100%, 100%);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;

      & > img {
        .displayBlock();
        width: 100%;
        height: auto;

      }

    }

  }

  .news {

    &__list {

      .systemList(none, 0 0 30px);

      &__item {

        &_title {

          .displayBlock();
          text-align: right;
          width: 270px;
          padding-right: 45px;
          float: left;

          &_link {
            .displayBlock();
            .fontBold;
            .systemLink(@COLOR_DARK_GREEN);
            font-size: @FONT_SIZE_BIG;
            margin-bottom: 0.5em;
          }

          &_date {
            color: @COLOR_BLACK;
            font-size: @FONT_SIZE_MEDIUM;
            .fontThin;
          }

        }

        &_announce {
          .displayBlock();
          .fontThin;
          padding-right: 180px;
          line-height: 18px;

          &_readMoreLink {
            .displayBlock();
            .linkLikeMarker();
            float: right;
            margin-right: -165px;
          }

        }

      }

      &__nextPage {
        display: none;
      }

    }

  }

}

.footer {

  height: 120px;
  top: 0;
  overflow: visible;

  &__feedback, &__phone {

    .displayBlock(visible);
    float: left;
    margin-right: 15px;
    position: relative;

    &_link {
      .displayBlock();
      .systemLink();
      width: 42px;
      height: 30px;
      background-position: 0 -30px;
      background-repeat: no-repeat;
      text-indent: -9000px;
    }

    &_formContainer {
      display: none;
      position: absolute;
      .fontBold;
      color: @COLOR_WHITE;
    }

    .footer__phone_formContainer {
      width: 136px;
      height: 35px;
      background: url("../img/phone_background.png");
      margin: 5px 0 0 20px;
      padding: 12px 0 0 15px;
      .boxSizing();
    }
    .footer__feedback_formContainer {
      width: 534px;
      height: 386px;
      background: url("../img/feedback_background.png");
      margin: -415px 0 0 15px;
      padding: 27px 53px 0 42px;
      .boxSizing();

      input[type=submit] {
        .displayBlock();
        border: none;
        float: right;
        .fontBold;
        font-size: @FONT_SIZE_MEDIUM;
        color: @COLOR_DARK_GREEN;
        background: transparent url("../img/submit_button.png") left top no-repeat;
        padding: 0;
        width: 135px;
        height: 35px;
        .backgroundSize(100%, 100%);

        .input__label--yoko {
          width: 420px;
        }

      }

    }

    &:hover {
      .footer__feedback_link, .footer__phone_link {
        background-position: 0 0;
      }
    }

  }

  &__phone {

    &_link {
      background-image: url("../img/feedback_phone.png");
    }



  }

  &__feedback_link {
    background-image: url("../img/feedback_mail.png");
  }

}

.popUpBlock {
  z-index: 200;
}
.popUpShadow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: -100%;
  background: #bcbcbc;
  opacity: 0.46;
  z-index: 100;
}
.popUpMessage {
  display: none;
  position: fixed;
  width: 508px;
  height: 94px;
  left: 50%;
  top: 50%;
  margin: -47px 0 0 -254px;
  background: url("../img/popUpMessage.png") left top no-repeat;
  .backgroundSize(100%, 100%);
  padding: 36px 135px 20px 30px;
  z-index: 250;
  .boxSizing();
  .fontBold;
  font-size: 23px;
  &_close {
    .displayBlock();
    .systemLink();
    width: 46px;
    height: 39px;
    background: url("../img/popUpMessage_close.png") left top no-repeat;
    position: absolute;
    right: 34px;
    top: 28px;
  }
}

img.map, map area {
  &:hover, &:focus, &:active {
    outline: none !important;
  }
  outline: none !important;
}

#piemenu > svg { width: 100%; height: 100%; }
#piemenu { height: 400px; width: 400px; margin:auto; }
@media (max-width: 400px) { #piemenu { height: 300px; width: 300px; } }

[class|=wheelnav-piemenu-slice-basic] { fill: @COLOR_YELLOW; stroke: none; }
[class|=wheelnav-piemenu-slice-selected] { fill: @COLOR_GREEN; stroke: none; }
[class|=wheelnav-piemenu-slice-hover] { fill: @COLOR_GREEN;  stroke: none; fill-opacity: 0.77; cursor: pointer; }

[class|=wheelnav-piemenu-title-basic] { fill: @COLOR_WHITE; stroke: none; }
[class|=wheelnav-piemenu-title-selected] { fill: @COLOR_WHITE; stroke: none; }
[class|=wheelnav-piemenu-title-hover] { fill: @COLOR_WHITE; stroke: none; cursor: pointer; }
[class|=wheelnav-piemenu-title] > tspan { .fontBlack; font-size: 35px; }

@media (min-width: 1376px) {
  [class|=wheelnav-piemenu-title] > tspan { .fontBlack; font-size: 35px; }
}

#piemenu {
  .displayBlock();
  position: absolute;
  left: -1.25%;
  top: 36.75%;
  width: 22%;
  height: 47.6%;
}