/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "fonts/PFBeauSansPro.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
b,
strong {
  font-family: pf_beausans_probold;
}
b i,
strong i,
ib,
istrong,
i b,
i strong {
  font-family: pf_beausans_probold_italic;
}
b i,
strong i {
  font-family: pf_beausans_probold_italic;
}
i {
  font-family: pf_beausans_proitalic;
}
i b,
i strong {
  font-family: pf_beausans_probold_italic;
}
.h1 {
  font-family: pf_beausans_problack;
  color: #bdcb21;
  font-size: 30px;
  margin-bottom: 1em;
}
.h1 i,
i.h1,
i .h1 {
  font-family: pf_beausans_problack_italic;
}
.h1 a {
  color: #bdcb21;
  text-decoration: none;
}
.h1 a:active,
.h1 a:hover,
.h1 a:visited {
  color: #bdcb21;
}
h1 {
  font-family: pf_beausans_problack;
  color: #bdcb21;
  font-size: 30px;
  margin-bottom: 1em;
}
h1 i,
ih1,
i h1 {
  font-family: pf_beausans_problack_italic;
}
h1 a {
  color: #bdcb21;
  text-decoration: none;
}
h1 a:active,
h1 a:hover,
h1 a:visited {
  color: #bdcb21;
}
h2 {
  font-family: pf_beausans_probold;
  font-size: 25px;
}
h2 i,
ih2,
i h2 {
  font-family: pf_beausans_probold_italic;
}
h2 a {
  color: #ffffff;
  text-decoration: none;
}
h2 a:active,
h2 a:hover,
h2 a:visited {
  color: #ffffff;
}
p {
  margin-bottom: 1em;
}
html {
  height: 100%;
  min-height: 700px;
}
body {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: pf_beausans_prothin;
  color: #000000;
}
body i,
ibody,
i body {
  font-family: pf_beausans_prothin_italic;
}
.header,
.section,
.footer {
  display: block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 90px 20px 35px;
  width: 100%;
  position: relative;
  left: 0;
  text-align: left;
}
.header {
  top: 0;
  height: 120px;
}
.header__logo {
  display: block;
  overflow: visible;
  float: left;
  width: 70px;
  height: auto;
  padding-top: 75px;
  text-align: right;
  background: url("../img/header_logo.png") right top no-repeat;
  font-size: 12px;
  color: #656565;
  text-decoration: none;
}
.header__logo:active,
.header__logo:hover,
.header__logo:visited {
  color: #656565;
}
.header__menu_list {
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  float: right;
}
.header__menu_list > li {
  display: block;
  overflow: hidden;
  float: left;
  margin: 0 0 0 30px;
  padding: 0;
}
.header__menu_list__item__link {
  display: block;
  overflow: hidden;
  text-align: center;
  color: #656565;
  text-decoration: none;
  min-width: 97px;
  padding: 25px 15px 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: pf_beausans_probbook;
}
.header__menu_list__item__link:active,
.header__menu_list__item__link:hover,
.header__menu_list__item__link:visited {
  color: #656565;
}
.header__menu_list__item__link i,
i.header__menu_list__item__link,
i .header__menu_list__item__link {
  font-family: pf_beausans_probbook_italic;
}
.header__menu_list__item__linkCurrent {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  background: url(../img/active_menu_item_backgroud.png) center bottom no-repeat, url("../img/active_menu_item_top.png") center top no-repeat;
  font-family: pf_beausans_prosemibold;
}
.header__menu_list__item__linkCurrent:active,
.header__menu_list__item__linkCurrent:hover,
.header__menu_list__item__linkCurrent:visited {
  color: #ffffff;
}
.header__menu_list__item__linkCurrent i,
i.header__menu_list__item__linkCurrent,
i .header__menu_list__item__linkCurrent {
  font-family: pf_beausans_proSBdIt;
}
.section {
  top: 0;
}
.section .building__description {
  display: block;
  overflow: hidden;
  float: left;
  width: 15%;
}
.section .building__description p {
  font-family: pf_beausans_prothin;
}
.section .building__description p i,
i.section .building__description p,
i .section .building__description p {
  font-family: pf_beausans_prothin_italic;
}
.section .building__description strong,
.section .building__description b {
  font-family: pf_beausans_probold;
}
.section .building__description strong i,
.section .building__description b i,
i.section .building__description strong,
i.section .building__description b,
i .section .building__description strong,
i .section .building__description b {
  font-family: pf_beausans_probold_italic;
}
.section .building__apartment_link {
  text-decoration: none;
  font-family: pf_beausans_probold;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  width: auto;
  height: 28px;
  line-height: 28px;
  background: url("../img/linkLikeMarker.png") left -28px repeat-x;
  position: relative;
  overflow: visible;
  margin: 0 12px;
  display: inline-block;
  display: none;
}
.section .building__apartment_link:active,
.section .building__apartment_link:hover,
.section .building__apartment_link:visited {
  color: #ffffff;
}
.section .building__apartment_link i,
i.section .building__apartment_link,
i .section .building__apartment_link {
  font-family: pf_beausans_probold_italic;
}
.section .building__apartment_link:before,
.section .building__apartment_link:after {
  content: ' ';
  display: inline-block;
  width: 12px;
  height: 28px;
  top: 0;
  position: absolute;
}
.section .building__apartment_link:before {
  left: -12px;
  background: url("../img/linkLikeMarker.png") left top no-repeat;
}
.section .building__apartment_link:after {
  right: -12px;
  background: url("../img/linkLikeMarker.png") left -56px repeat-x;
}
.section .building__apartment_description {
  display: none;
}
.section .building__floorPlan {
  display: block;
  overflow: hidden;
  width: 85%;
  padding-left: 50px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.section .building__floorPlan__image {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  -webkit-background-size: 100%, 100%;
  -moz-background-size: 100%, 100%;
  -o-background-size: 100%, 100%;
  background-size: 100%, 100%;
}
.section .building__otherBuildings {
  display: block;
  overflow: hidden;
  margin-left: 15%;
  padding-left: 50px;
  float: left;
  clear: left;
}
.section .building__otherBuildings__building {
  display: block;
  overflow: hidden;
  margin-top: 60px;
}
.section .building__otherBuildings__building_title {
  display: block;
  overflow: hidden;
  float: left;
  width: 305px;
  padding-top: 50px;
}
.section .building__otherBuildings__building_title h2 {
  font-family: pf_beausans_problack;
  color: #bdcb21;
  font-size: 30px;
  margin-bottom: 1em;
}
.section .building__otherBuildings__building_title h2 i,
i.section .building__otherBuildings__building_title h2,
i .section .building__otherBuildings__building_title h2 {
  font-family: pf_beausans_problack_italic;
}
.section .building__otherBuildings__building_title h2 a {
  color: #bdcb21;
  text-decoration: none;
}
.section .building__otherBuildings__building_title h2 a:active,
.section .building__otherBuildings__building_title h2 a:hover,
.section .building__otherBuildings__building_title h2 a:visited {
  color: #bdcb21;
}
.section .building__otherBuildings__building_title_link {
  color: #000000;
  text-decoration: none;
}
.section .building__otherBuildings__building_title_link:active,
.section .building__otherBuildings__building_title_link:hover,
.section .building__otherBuildings__building_title_link:visited {
  color: #000000;
}
.section .building__otherBuildings__building_preview {
  display: block;
  overflow: hidden;
  float: left;
  min-width: 250px;
  max-width: 640px;
  padding-left: 15px;
}
.section .building__otherBuildings__building_preview_image {
  display: block;
  overflow: hidden;
  max-width: 100%;
  height: 130px;
}
.section .building__otherBuildings__building_description {
  padding-left: 30px;
  display: block;
  overflow: hidden;
}
.section .building__otherBuildings__building_description p {
  margin-bottom: 0;
}
.section .apartment__building_list,
.section .apartment__plan,
.section .apartment__description {
  display: block;
  overflow: hidden;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.section .apartment__building_list {
  width: 35%;
  padding-right: 25px;
}
.section .apartment__building_list__building {
  display: block;
  overflow: hidden;
  padding-bottom: 50px;
}
.section .apartment__building_list__building_image {
  margin-bottom: 10px;
  max-width: 100%;
}
.section .apartment__building_list__building_name {
  font-family: pf_beausans_problack;
  color: #bdcb21;
  font-size: 30px;
  margin-bottom: 1em;
}
.section .apartment__building_list__building_name i,
i.section .apartment__building_list__building_name,
i .section .apartment__building_list__building_name {
  font-family: pf_beausans_problack_italic;
}
.section .apartment__building_list__building_name a {
  color: #bdcb21;
  text-decoration: none;
}
.section .apartment__building_list__building_name a:active,
.section .apartment__building_list__building_name a:hover,
.section .apartment__building_list__building_name a:visited {
  color: #bdcb21;
}
.section .apartment__building_list__building_link {
  color: #000000;
  text-decoration: none;
}
.section .apartment__building_list__building_link:active,
.section .apartment__building_list__building_link:hover,
.section .apartment__building_list__building_link:visited {
  color: #000000;
}
.section .apartment__plan {
  width: 33%;
  padding: 0 25px;
}
.section .apartment__plan_image {
  display: block;
  overflow: hidden;
  width: 100%;
}
.section .apartment__description {
  width: 32%;
  padding-left: 25px;
}
.section .apartment__description__price {
  display: block;
  overflow: hidden;
  padding-top: 65px;
}
.section .apartment__description__price_prefix,
.section .apartment__description__price_value,
.section .apartment__description__price_unit_up,
.section .apartment__description__price_unit_outer,
.section .apartment__description__price_unit_up,
.section .apartment__description__price_unit {
  display: block;
  overflow: hidden;
  color: #656565;
  font-family: pf_beausans_prothin;
  float: left;
}
.section .apartment__description__price_prefix i,
.section .apartment__description__price_value i,
.section .apartment__description__price_unit_up i,
.section .apartment__description__price_unit_outer i,
.section .apartment__description__price_unit_up i,
.section .apartment__description__price_unit i,
i.section .apartment__description__price_prefix,
i.section .apartment__description__price_value,
i.section .apartment__description__price_unit_up,
i.section .apartment__description__price_unit_outer,
i.section .apartment__description__price_unit_up,
i.section .apartment__description__price_unit,
i .section .apartment__description__price_prefix,
i .section .apartment__description__price_value,
i .section .apartment__description__price_unit_up,
i .section .apartment__description__price_unit_outer,
i .section .apartment__description__price_unit_up,
i .section .apartment__description__price_unit {
  font-family: pf_beausans_prothin_italic;
}
.section .apartment__description__price_prefix {
  font-size: 33px;
  padding-top: 46px;
}
.section .apartment__description__price_value {
  color: #bdcb21;
  font-size: 87px;
  font-family: pf_beausans_problack;
  letter-spacing: -10px;
  padding-right: 10px;
}
.section .apartment__description__price_value i,
i.section .apartment__description__price_value,
i .section .apartment__description__price_value {
  font-family: pf_beausans_problack_italic;
}
.section .apartment__description__price_unit_up {
  font-size: 27px;
  margin-bottom: -11px;
  padding-top: 21px;
}
.section .apartment__description__price_unit {
  font-size: 44px;
  font-family: pf_beausans_probold;
  clear: both;
}
.section .apartment__description__price_unit i,
i.section .apartment__description__price_unit,
i .section .apartment__description__price_unit {
  font-family: pf_beausans_probold_italic;
}
.section .apartment__description__navigator {
  display: block;
  overflow: hidden;
  text-align: right;
  padding-top: 120px;
}
.section .apartment__description__navigator_link {
  display: inline-block;
  margin-left: 22px;
}
.section .apartment__description__navigator_linkFeedback {
  color: #4a5e00;
  text-decoration: none;
  font-family: pf_beausans_probold;
}
.section .apartment__description__navigator_linkFeedback:active,
.section .apartment__description__navigator_linkFeedback:hover,
.section .apartment__description__navigator_linkFeedback:visited {
  color: #4a5e00;
}
.section .apartment__description__navigator_linkFeedback i,
i.section .apartment__description__navigator_linkFeedback,
i .section .apartment__description__navigator_linkFeedback {
  font-family: pf_beausans_probold_italic;
}
.section .apartment__description__navigator_linkGoBack {
  color: #000000;
  text-decoration: none;
  font-family: pf_beausans_proregular;
}
.section .apartment__description__navigator_linkGoBack:active,
.section .apartment__description__navigator_linkGoBack:hover,
.section .apartment__description__navigator_linkGoBack:visited {
  color: #000000;
}
.section .apartment__description__navigator_linkGoBack i,
i.section .apartment__description__navigator_linkGoBack,
i .section .apartment__description__navigator_linkGoBack {
  font-family: pf_beausans_proitalic;
}
.section .slider {
  display: block;
  overflow: hidden;
  position: relative;
  left: 0;
}
.section .sliderWrapper {
  display: block;
  overflow: hidden;
  width: 100%;
}
.section .sliderWrapper .wrap_image {
  opacity: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  float: left;
  margin-left: -100%;
}
.section .slider__navigator_container {
  display: block;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 40px;
  z-index: 1;
  width: 100%;
}
.section .slider__navigator {
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  min-height: 130px;
  float: right;
}
.section .slider__navigator > li {
  display: block;
  overflow: hidden;
  float: none;
  margin: 0;
  padding: 0;
}
.section .slider__navigator__item {
  text-align: center;
  min-height: 104px;
}
.section .slider__navigator__itemDescription {
  position: relative;
  height: 130px;
}
.section .slider__navigator__itemDescriptionDigit {
  display: block;
  overflow: visible;
  font-size: 135px;
  color: #bdcb21;
  float: left;
  font-family: pf_beausans_problack;
  left: 0;
  top: 0;
  letter-spacing: -23px;
  padding-right: 23px;
}
.section .slider__navigator__itemDescriptionDigit i,
i.section .slider__navigator__itemDescriptionDigit,
i .section .slider__navigator__itemDescriptionDigit {
  font-family: pf_beausans_problack_italic;
}
.section .slider__navigator__itemDescriptionLine1,
.section .slider__navigator__itemDescriptionLine2 {
  display: block;
  overflow: visible;
  font-size: 37px;
  color: #656565;
  right: 10px;
  text-align: right;
  white-space: nowrap;
  top: 75px;
  float: right;
  position: relative;
  font-family: pf_beausans_proregular;
}
.section .slider__navigator__itemDescriptionLine1 i,
.section .slider__navigator__itemDescriptionLine2 i,
i.section .slider__navigator__itemDescriptionLine1,
i.section .slider__navigator__itemDescriptionLine2,
i .section .slider__navigator__itemDescriptionLine1,
i .section .slider__navigator__itemDescriptionLine2 {
  font-family: pf_beausans_proitalic;
}
.section .slider__navigator__itemDescriptionLine1 i,
.section .slider__navigator__itemDescriptionLine2 i,
i.section .slider__navigator__itemDescriptionLine1,
i.section .slider__navigator__itemDescriptionLine2,
i .section .slider__navigator__itemDescriptionLine1,
i .section .slider__navigator__itemDescriptionLine2 {
  font-family: pf_beausans_proitalic;
}
.section .slider__navigator__itemDescriptionLine1Fake,
.section .slider__navigator__itemDescriptionLine2Fake {
  position: static;
  float: right;
  color: red;
}
.section .slider__navigator__itemDescriptionLine1 {
  font-size: 53px;
  top: 35px;
  line-height: 32px;
}
.section .slider__navigator__itemDescriptionLine2 {
  font-size: 23px;
  clear: right;
  top: -40px;
}
.section .slider__navigator_arrow {
  display: block;
  overflow: hidden;
  color: #bdcb21;
  text-decoration: none;
  position: relative;
  top: 0;
  bottom: 0;
  width: 47px;
  background: url("../img/slider_navigator_arrow.png") center center no-repeat;
  text-indent: -9000px;
  min-height: 130px;
  float: right;
}
.section .slider__navigator_arrow:active,
.section .slider__navigator_arrow:hover,
.section .slider__navigator_arrow:visited {
  color: #bdcb21;
}
.section .slider__navigator_arrowLeft {
  left: 0;
}
.section .slider__navigator_arrowRight {
  right: 0;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
}
.section .slider__navigatorWrapper {
  position: relative;
  display: block;
  overflow: hidden;
  float: right;
}
.section .slider__slide_item {
  display: block;
  overflow: hidden;
  float: left;
  -webkit-background-size: 100%, 100%;
  -moz-background-size: 100%, 100%;
  -o-background-size: 100%, 100%;
  background-size: 100%, 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.section .slider__slide_item > img {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.section .news__list {
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.section .news__list > li {
  display: block;
  overflow: hidden;
  float: none;
  margin: 0 0 30px;
  padding: 0;
}
.section .news__list__item_title {
  display: block;
  overflow: hidden;
  text-align: right;
  width: 270px;
  padding-right: 45px;
  float: left;
}
.section .news__list__item_title_link {
  display: block;
  overflow: hidden;
  font-family: pf_beausans_probold;
  color: #4a5e00;
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 0.5em;
}
.section .news__list__item_title_link i,
i.section .news__list__item_title_link,
i .section .news__list__item_title_link {
  font-family: pf_beausans_probold_italic;
}
.section .news__list__item_title_link:active,
.section .news__list__item_title_link:hover,
.section .news__list__item_title_link:visited {
  color: #4a5e00;
}
.section .news__list__item_title_date {
  color: #000000;
  font-size: 20px;
}
.section .news__list__item_announce {
  display: block;
  overflow: hidden;
  font-family: pf_beausans_prothin;
  padding-right: 180px;
  line-height: 18px;
}
.section .news__list__item_announce i,
i.section .news__list__item_announce,
i .section .news__list__item_announce {
  font-family: pf_beausans_prothin_italic;
}
.section .news__list__item_announce_readMoreLink {
  display: block;
  overflow: hidden;
  text-decoration: none;
  font-family: pf_beausans_probold;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  width: auto;
  height: 28px;
  line-height: 28px;
  background: url("../img/linkLikeMarker.png") left -28px repeat-x;
  position: relative;
  overflow: visible;
  margin: 0 12px;
  display: inline-block;
  float: right;
  margin-right: -165px;
}
.section .news__list__item_announce_readMoreLink:active,
.section .news__list__item_announce_readMoreLink:hover,
.section .news__list__item_announce_readMoreLink:visited {
  color: #ffffff;
}
.section .news__list__item_announce_readMoreLink i,
i.section .news__list__item_announce_readMoreLink,
i .section .news__list__item_announce_readMoreLink {
  font-family: pf_beausans_probold_italic;
}
.section .news__list__item_announce_readMoreLink:before,
.section .news__list__item_announce_readMoreLink:after {
  content: ' ';
  display: inline-block;
  width: 12px;
  height: 28px;
  top: 0;
  position: absolute;
}
.section .news__list__item_announce_readMoreLink:before {
  left: -12px;
  background: url("../img/linkLikeMarker.png") left top no-repeat;
}
.section .news__list__item_announce_readMoreLink:after {
  right: -12px;
  background: url("../img/linkLikeMarker.png") left -56px repeat-x;
}
.section .news__list__nextPage {
  display: none;
}
.footer {
  height: 120px;
  top: 0;
  overflow: visible;
}
.footer__feedback,
.footer__phone {
  display: block;
  overflow: visible;
  float: left;
  margin-right: 15px;
  position: relative;
}
.footer__feedback_link,
.footer__phone_link {
  display: block;
  overflow: hidden;
  color: #bdcb21;
  text-decoration: none;
  width: 42px;
  height: 30px;
  background-position: 0 -30px;
  background-repeat: no-repeat;
  text-indent: -9000px;
}
.footer__feedback_link:active,
.footer__phone_link:active,
.footer__feedback_link:hover,
.footer__phone_link:hover,
.footer__feedback_link:visited,
.footer__phone_link:visited {
  color: #bdcb21;
}
.footer__feedback_formContainer,
.footer__phone_formContainer {
  display: none;
  position: absolute;
  font-family: pf_beausans_probold;
  color: #ffffff;
}
.footer__feedback_formContainer i,
.footer__phone_formContainer i,
i.footer__feedback_formContainer,
i.footer__phone_formContainer,
i .footer__feedback_formContainer,
i .footer__phone_formContainer {
  font-family: pf_beausans_probold_italic;
}
.footer__feedback .footer__phone_formContainer,
.footer__phone .footer__phone_formContainer {
  width: 136px;
  height: 35px;
  background: url("../img/phone_background.png");
  margin: 5px 0 0 20px;
  padding: 12px 0 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.footer__feedback .footer__feedback_formContainer,
.footer__phone .footer__feedback_formContainer {
  width: 534px;
  height: 386px;
  background: url("../img/feedback_background.png");
  margin: -415px 0 0 15px;
  padding: 27px 53px 0 42px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.footer__feedback .footer__feedback_formContainer input[type=submit],
.footer__phone .footer__feedback_formContainer input[type=submit] {
  display: block;
  overflow: hidden;
  border: none;
  float: right;
  font-family: pf_beausans_probold;
  font-size: 20px;
  color: #4a5e00;
  background: transparent url("../img/submit_button.png") left top no-repeat;
  padding: 0;
  width: 135px;
  height: 35px;
  -webkit-background-size: 100%, 100%;
  -moz-background-size: 100%, 100%;
  -o-background-size: 100%, 100%;
  background-size: 100%, 100%;
}
.footer__feedback .footer__feedback_formContainer input[type=submit] i,
.footer__phone .footer__feedback_formContainer input[type=submit] i,
i.footer__feedback .footer__feedback_formContainer input[type=submit],
i.footer__phone .footer__feedback_formContainer input[type=submit],
i .footer__feedback .footer__feedback_formContainer input[type=submit],
i .footer__phone .footer__feedback_formContainer input[type=submit] {
  font-family: pf_beausans_probold_italic;
}
.footer__feedback .footer__feedback_formContainer input[type=submit] .input__label--yoko,
.footer__phone .footer__feedback_formContainer input[type=submit] .input__label--yoko {
  width: 420px;
}
.footer__feedback:hover .footer__feedback_link,
.footer__phone:hover .footer__feedback_link,
.footer__feedback:hover .footer__phone_link,
.footer__phone:hover .footer__phone_link {
  background-position: 0 0;
}
.footer__phone_link {
  background-image: url("../img/feedback_phone.png");
}
.footer__feedback_link {
  background-image: url("../img/feedback_mail.png");
}
.popUpBlock {
  z-index: 200;
}
.popUpShadow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: -100%;
  background: #bcbcbc;
  opacity: 0.46;
  z-index: 100;
}
.popUpMessage {
  display: none;
  position: fixed;
  width: 508px;
  height: 94px;
  left: 50%;
  top: 50%;
  margin: -47px 0 0 -254px;
  background: url("../img/popUpMessage.png") left top no-repeat;
  -webkit-background-size: 100%, 100%;
  -moz-background-size: 100%, 100%;
  -o-background-size: 100%, 100%;
  background-size: 100%, 100%;
  padding: 36px 135px 20px 30px;
  z-index: 250;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: pf_beausans_probold;
  font-size: 23px;
}
.popUpMessage i,
i.popUpMessage,
i .popUpMessage {
  font-family: pf_beausans_probold_italic;
}
.popUpMessage_close {
  display: block;
  overflow: hidden;
  color: #bdcb21;
  text-decoration: none;
  width: 46px;
  height: 39px;
  background: url("../img/popUpMessage_close.png") left top no-repeat;
  position: absolute;
  right: 34px;
  top: 28px;
}
.popUpMessage_close:active,
.popUpMessage_close:hover,
.popUpMessage_close:visited {
  color: #bdcb21;
}
img.map,
map area {
  outline: none !important;
}
img.map:hover,
map area:hover,
img.map:focus,
map area:focus,
img.map:active,
map area:active {
  outline: none !important;
}
