
    <h2>напишите нам:</h2>
    {% if success %}
        Спасибо!
    {% else %}
        <form method="post" action="{% url 'feedback' %}">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name != 'page' %}
                    <span class="input input--minoru">
                        <input type="text" class="input__field input__field--yoko"
                               id="{{ field.id_for_label }}"
                               name="{{ field.name }}" />
                        <label for="{{ field.id_for_label }}"
                               class="input__label input__label--yoko">
                            {{ field.label }}
                        </label>
                    </span>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <input type="submit" value="Отправить" />
        </form>
    {% endif %}