{% extends 'base.html' %}

{% block script %}

    {{ block.super }}
    <script type="text/javascript">

        $(document).ready(function(){

            function getBodyScrollTop() {
                return self.pageYOffset || (document.documentElement && document.documentElement.scrollTop) || (document.body && document.body.scrollTop);
            }

            $('body').on('click', '.next_page', function(event){

                event.preventDefault();

                $.ajax({
                    url:        $(this).attr('href'),
                    type:       'get',
                    dataType:   'json',
                    success:    (function(next_page_link){return function(data){
                        $('#news_list').append(data.news_data);
                        if (data.next_page) {
                            next_page_link.attr('href', '?page='+data.next_page);
                        } else {
                            next_page_link.remove();
                        }
                    };})($(this))
                })

            });


            $(window).bind('scroll', function(){

                var more_link = $('.next_page');

                if ($('.next_page').size()) {

                    if ($(window).height() + getBodyScrollTop() >= more_link.position().top - 50) {
                        more_link.click();
                    }

                }

            });

        });

    </script>

{% endblock %}

{% block content %}

    <h1>Новости</h1>
    <p>К сожалению, сделать подгрузки при прокрутке я не успеваю (</p>

    <ul id="news_list" style="display:block; width: 400px;">
        {% include 'inc/news_list.html' with news=news %}
    </ul>

    {% if next_page %}
        <a href="{% url 'news_list' %}?page={{ next_page }}" class="next_page">Далее</a>
    {% endif %}

{% endblock %}