{% extends 'base.html' %}

{% block script %}

    {{ block.super }}
    <script type="text/javascript">

        $(document).ready(function(){

            function getBodyScrollTop() {
                return self.pageYOffset || (document.documentElement && document.documentElement.scrollTop) || (document.body && document.body.scrollTop);
            }

            function tryNewsScroll() {
                var more_link = $('.news__list__item:last-child');
                return $(window).height() + getBodyScrollTop() >= more_link.position().top - 50
            }

            $('body').on('click', '.news__list__nextPage', function(event){

                event.preventDefault();

                $.ajax({
                    url:        $(this).attr('href'),
                    type:       'get',
                    dataType:   'json',
                    success:    (function(next_page_link){return function(data){
                        $('.news__list').append(data.news_data);
                        if (data.next_page) {
                            next_page_link.attr('href', '?page='+data.next_page);
                        } else {
                            next_page_link.remove();
                        }
                    };})($(this))
                });

            });

            $(window).bind('scroll', function(){

                if ($('.news__list__nextPage').size()) {

                    if (tryNewsScroll()) {
                        $('.news__list__nextPage').click();
                    }

                }

            });

            if (tryNewsScroll()) {
                $('.news__list__nextPage').click();
            }

        });

    </script>

{% endblock %}

{% block content %}

    <ul class="news__list">
        {% include 'inc/news_list.html' with news=news detail=False %}
    </ul>

    {% if next_page %}
        <a href="{% url 'news_list' %}?page={{ next_page }}" class="news__list__nextPage">Далее</a>
    {% endif %}

{% endblock %}