{% extends 'base.html' %}

{% load static %}


{% block style %}
    {{ block.super }}
    <style rel="stylesheet">
        .section {
            background: url("{% static 'img/contacts.png' %}") 0 80% no-repeat;
            background-size: 80% auto;
        }
        body {
          background: #95dafa; /* Old browsers */
          background: -moz-linear-gradient(top,  #95dafa 0%, #95dafa 50px, #ffffff 82%, #ffffff 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95dafa), color-stop(50px,#95dafa), color-stop(82%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  #95dafa 0%,#95dafa 50px,#ffffff 82%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  #95dafa 0%,#95dafa 50px,#ffffff 82%,#ffffff 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  #95dafa 0%,#95dafa 50px,#ffffff 82%,#ffffff 100%); /* IE10+ */
          background: linear-gradient(to bottom,  #95dafa 0%,#95dafa 50px,#ffffff 82%,#ffffff 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95dafa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
          background-repeat: no-repeat;
          background-attachment: fixed;
        }
    </style>
{% endblock %}


{% block script %}

    {{ block.super }}

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkWpiD4GPG0lqva0du74xG41jAvKa4fSc">
    </script>

    <script type="text/javascript">

        $(document).ready(function(){

            function initializeMap() {

                var map_center = new google.maps.LatLng({{ contact.coord }});

                var mapOptions = {
                  center:   map_center,
                  zoom:     18
                };

                var map = new google.maps.Map(document.getElementById('contact__map_iframe'),
                    mapOptions);

                var marker = new google.maps.Marker({
                    position:   map_center,
                    map:        map,
                    title:      'Hello World!',
                    icon:       '{% static 'img/map_pin.png' %}',
                });

                var infowindow = new google.maps.InfoWindow({
                    content: '  <div class="contact__map_address_popup">{% autoescape off %}{% spaceless %}{{ contact.coord_popup|linebreaks }}{% endspaceless %}{% endautoescape %}</div>',
                    maxWidth:   303,
                });

                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map, marker);
                });

                map_is_initialized = true;

            }

            $('.contact__map_showButton').click(function(event){

                event.preventDefault();

                $('.contact__map_container').css({opacity:0, display:'block'});
                if (typeof map_is_initialized == 'undefined' || !map_is_initialized) {
                    initializeMap();}
                $('.contact__map_container').animate({opacity:1});

            });

            $('.contact__map_hideButton').click(function(event){

                event.preventDefault();
                $('.contact__map_container').fadeOut();

            });

        });

    </script>

{% endblock %}


{% block content %}

    <div class="contact__text">

        {% autoescape off %}
            {{ contact.text }}
        {% endautoescape %}

        {% if contact.coord %}
            <a href="#" class="contact__map_showButton">посмотреть на карте</a>
        {% endif %}

    </div>
    {% if contact.coord %}
        <div class="contact__map_container">
            <div class="contact__map_iframe" id="contact__map_iframe"></div>
{#            {% autoescape off %}{{ contact.map_code }}{% endautoescape %}#}
            <a href="#" class="contact__map_hideButton">вернуться</a>
        </div>
    {% endif %}

{% endblock %}