{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="slider__navigator_container">
        <a href="#" class="slider__navigator_arrow slider__navigator_arrowRight">&nbsp;</a>
        <div class="slider__navigatorWrapper">
            <ul class="slider__navigator" data-current-slide="0">
            {% for slide in page.slide_set.all %}
                <li class="slider__navigator__item"
                    style="{% spaceless %}
                        {% if not forloop.first %}display:none;{% endif %}
                        width: {{ slide.title_width }}px;
                    {% endspaceless %}">
                    <div class="slider__navigator__itemDescription">

                        <div class="slider__navigator__itemDescriptionDigit">{{ slide.title_digit }}</div>

                        <div class="slider__navigator__itemDescriptionLine1"
                             style="{% spaceless %}
                                     -ms-transform: rotate({{ slide.title_line1_deg }}deg);
                                     -webkit-transform: rotate({{ slide.title_line1_deg }}deg);
                                     transform: rotate({{ slide.title_line1_deg }}deg);
                                     top: {{ slide.title_line1_top }}px;
                                     right: {{ slide.title_line1_right }}px;
                             {% endspaceless %}">
                            {% autoescape off %}
                                {{ slide.title_line1_text }}
                            {% endautoescape %}
                        </div>

                        <div class="slider__navigator__itemDescriptionLine2"
                             style="{% spaceless %}
                                     -ms-transform: rotate({{ slide.title_line1_deg }}deg);
                                     -webkit-transform: rotate({{ slide.title_line2_deg }}deg);
                                     transform: rotate({{ slide.title_line2_deg }}deg);
                                     top: {{ slide.title_line2_top }}px;
                                     right: {{ slide.title_line2_right }}px;
                             {% endspaceless %}">
                            {% autoescape off %}
                                {{ slide.title_line2_text }}
                            {% endautoescape %}
                        </div>

                        {% if slide.description %}
                            <a href="#" class="slider__navigator__item__moreLink">подробнее</a>
                            <div class="slider__navigator__item__more">
                                <div class="slider__navigator__item__moreBlock">
                                    {% autoescape off %}
                                        {{ slide.description }}
                                    {% endautoescape %}
                                </div>
                                <a href="#" class="slider__navigator__item__moreHideLink">скрыть</a>
                            </div>
                        {% endif %}

                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <a href="#" class="slider__navigator_arrow slider__navigator_arrowLeft">&nbsp;</a>
    </div>

    <div class="sliderWrapper">
        <img src="{{ page.slide_set.all.0.image.url }}" style="opacity: 0;" class="wrap_image" />
        <div class="slider">
            <img src="{{ page.slide_set.all.0.image.url }}" style="opacity: 0;" class="wrap_image" />
            {% for slide in page.slide_set.all %}
                <div class="slider__slide_item"
                     style="{% spaceless %}
                             background-image: url('{{ slide.image.url }}');
                             background-position: {{ slide.image_position }};
                             background-size: {{ slide.image_size }};
                             {% if not forloop.first %}opacity: 0;{% endif %}
                     {% endspaceless %}">
                    <img src="{{ page.slide_set.all.0.image.url }}" class="wrap_image" />
                </div>
            {% endfor %}
        </div>
    </div>

    {% if page.pie_menu %}
        <div id='piemenu' data-wheelnav
             data-wheelnav-slicepath='DonutSlice'
             data-wheelnav-rotateoff
             data-wheelnav-navangle='305'
             data-wheelnav-cssmode
             data-wheelnav-init>
            {% for slide in page.slide_set.all %}
                <div data-wheelnav-navitemtext='{{ forloop.counter }}' onmouseup='swithToSlideNum({{ forloop.counter0 }});'></div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block script %}

    {{ block.super }}

    <script type="text/javascript" src="{% static 'js/wheelnav.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/raphael.min.js' %}"></script>

    <script type="text/javascript">

        function swithToSlideNum(new_slide_num){

            var navigator = $('.slider__navigator');
            var cur_slide_num = parseInt($('.slider__navigator').attr('data-current-slide'));

            if (new_slide_num === '+1') {
                new_slide_num = cur_slide_num + 1;
            } else if (new_slide_num === '-1') {
                new_slide_num = cur_slide_num - 1;
            } else {
                if (cur_slide_num < new_slide_num) {
                    while (cur_slide_num < {{ page.slide_set.all.count }} && cur_slide_num <= new_slide_num - 1) {
                        swithToSlideNum('+1');
                        cur_slide_num++;
                    }
                } else {
                    while (cur_slide_num >= 0 && cur_slide_num >= new_slide_num + 1) {
                        swithToSlideNum('-1');
                        cur_slide_num--;
                    }
                }
                return;
            }

            if (new_slide_num >= {{ page.slide_set.all.count }} || new_slide_num < 0) {
                return;}

            var new_slide_description = $($('.slider__navigator__item')[new_slide_num]);
            var old_slide_description = $($('.slider__navigator__item')[cur_slide_num]);

            var new_slide = $($('.slider__slide_item')[new_slide_num]);
            var old_slide = $($('.slider__slide_item')[cur_slide_num]);

            new_slide_description.css({position:'absolute', display:'block'});
            var new_slide_description_size = new_slide_description.outerWidth();

            if (new_slide_num > cur_slide_num) {
                new_slide_description
                        .css({position:'absolute'})
                        .fadeIn((function(navigator, new_slide_description){return function(){
                            navigator.animate({width:new_slide_description.outerWidth()+'px'});
                        };})(navigator, new_slide_description));
                old_slide_description.fadeOut();
                new_slide.animate(
                        {opacity: 1},
                        (function(new_slide_num, navigator){
                            navigator.attr('data-current-slide', new_slide_num);
                        })(new_slide_num, navigator));

            } else {
                old_slide_description
                        .fadeOut((function(navigator, new_slide_description){return function(){
                            navigator.animate({width:new_slide_description.outerWidth()+'px'});
                            };})(navigator, new_slide_description));
                    old_slide.animate(
                            {opacity: 0},
                            (function(new_slide_num, navigator){
                                navigator.attr('data-current-slide', new_slide_num);
                            })(new_slide_num, navigator));
            }

            piemenu.navigateWheel(new_slide_num);

        }

        $(document).ready(function(){

            $('.section').on('click', '.slider__navigator_arrow', function(event){

                event.preventDefault();

                if ($(this).hasClass('slider__navigator_arrowLeft')) {
                    swithToSlideNum('-1');
                } else {
                    swithToSlideNum('+1');
                }

            });

            {% if page.pie_menu %}
                // Да, это глобальный объект
                piemenu = new wheelnav('piemenu');
                piemenu.clockwise = false;
                piemenu.wheelRadius = piemenu.wheelRadius * 0.83;
                piemenu.navItemsContinuous = true;
                piemenu.sliceAngle = 39;
                piemenu.createWheel();
{#                piemenu.setTooltips([{% for slide in page.slide_set.all %}{{ forloop.counter }}{% if not forloop.last %},{% endif %}{% endfor %}]);#}
            {% endif %}

        });

    </script>

{% endblock %}