{% load siteblocks %}
{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% block style %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="all">
    {% endblock %}
</head>
<body>
    {% block script %}
        <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.rwdImageMaps.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                $('img[usemap]').rwdImageMaps();

                $('body')
                        .on('focus', '.input__field', function(){
                            $(this).parent('span.input').addClass('input--filled');})
                        .on('blur', '.input__field', function(){
                            if (!$(this).val() || $(this).val() == '') {
                                $(this).parent('span.input').removeClass('input--filled');
                            }})
                        .on('click', '.footer__phone_link', function(event){
                            event.preventDefault();
                            $('.footer__phone_formContainer').toggle();})
                        .on('click', '.footer__feedback_link', function(event){
                            event.preventDefault();
                            $('.footer__phone_formContainer').hide();
                            $('.popUpShadow').show();
                            $('.footer__feedback_formContainer').show()})
                        .on('submit', '.footer__feedback_formContainer form', function(event){
                            event.preventDefault();
                            $.ajax({
                                url:    $(this).attr('action'),
                                type:   $(this).attr('method'),
                                data:   $(this).serialize(),
                                success:(function(form){return function(data) {
                                    form.find('.error_list').remove();
                                    if (data['success']) {
                                        $('.footer__feedback_formContainer').hide();
                                        $('.popUpMessage').show();
                                        $('.popUpMessage_text').text('спасибо за Ваше сообщение!');
                                    } else {
                                        for (key in data['errors']) {
                                            var input = form.find('*[name='+key+']');
                                            var ul = $('<ul style="color:red" class="error_list"></ul>');
                                            for (er_num in data['errors'][key]) {
                                                ul.append($('<li>'+data['errors'][key][er_num]+'</li>'));
                                            }
                                            ul.insertBefore(input);
                                        }
                                    }
                                };})($(this))
                            });
                        })
                        .on('click', '.popUpMessage_close', function(event){
                            event.preventDefault();
                            $('.popUpMessage, .popUpShadow, .popUpBlock').hide();
                        })
                        .on('click', '.popUpShadow', function(event){
                            event.preventDefault();
                            $('.popUpMessage, .popUpShadow, .popUpBlock').hide();
                        }).on('click', '.slider__navigator__item__moreLink', function(event){
                            var more_link = $(this);
                            var more_block= $(this).next('.slider__navigator__item__more')
                                    .find('.slider__navigator__item__moreBlock');
                            var hide_link = more_block.next('.slider__navigator__item__moreHideLink');
                            more_link.fadeOut();
                            more_block.slideDown((function(more_link, hide_link){return function(){
                                hide_link.fadeIn();
                            };})(more_link, hide_link));
                        }).on('click', '.slider__navigator__item__moreHideLink', function(event){
                            var hide_link = $(this);
                            var more_block= $(this).prev('.slider__navigator__item__moreBlock');
                            var more_link = more_block.parent('.slider__navigator__item__more')
                                    .prev('.slider__navigator__item__moreLink');
                            hide_link.fadeOut((function(more_link, hide_link){return function(){
                                more_link.fadeIn();
                                more_block.slideUp();
                            };})(more_link, hide_link));

                        });
            });
        </script>
    {% endblock %}
    {% block header %}
        <header class="header">
            <a href="{% url 'slide_page' slide_page_slug='' %}" class="header__logo">
                <img src="{% static 'img/logo_none.svg' %}" />
                {% siteblock 'logo_text' %}
            </a>
            <ul class="header__menu_list">
                {% for header_menu_item in header_menu_items %}
                    <li class="header__menu_list__item">{% spaceless %}
                        <a href="{{ header_menu_item.path }}"
                           class="header__menu_list__item__link {% if header_menu_item == current_header_menu_item %}header__menu_list__item__linkCurrent{% endif %} {% if header_menu_item in parent_header_menu_items %}header__menu_list__item__linkParent{% endif %}">
                            {{ header_menu_item.text }}
                        </a>
                    {% endspaceless %}</li>
                {% endfor %}
            </ul>
        </header>
    {% endblock %}
    <section class="section">
    {% block content %}{% endblock %}
    </section>

    <footer class="footer">
        {% block footer %}

            <div class="footer__feedback">
                <a href="{% url 'feedback' %}" class="footer__feedback_link">Написать нам</a>
                <div class="footer__feedback_formContainer formContainer popUpBlock">
                    {% include 'feedback/inc/feedback_form.html' with form=feedback_form %}
                </div>
            </div>

            <div class="footer__phone">
                <a href="{% url 'order_call' %}" class="footer__phone_link">Написать нам</a>
                <div class="footer__phone_formContainer">
{#                    {% include 'feedback/inc/order_call_form.html' %}#}
                    {% siteblock "phone" %}
                </div>
            </div>

            <div class="footer__copyright">
                {% siteblock "footer__copyright" %}
            </div>

            <a href="http://vse-yasno.ru/"
               target="_blank"
               class="footer__author"
               title="Имиджевое агентство — «Всё Ясно»">
                РАЗРАБОТКА САЙТА<br/>
                ИМИДЖЕВОЕ АГЕНТСТВО «ВСЁ ЯСНО»
            </a>

        {% endblock %}
    </footer>
    <div class="popUpMessage">
        <span class="popUpMessage_text"></span>
        <a href="#" class="popUpMessage_close"></a>
    </div>
    <div class="popUpShadow"></div>
</body>
</html>