{% load siteblocks %}
{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% block style %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="all">
    {% endblock %}
</head>
<body>
    {% block script %}
        <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.rwdImageMaps.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                $('img[usemap]').rwdImageMaps();

                $('form').submit(function(event){

                    event.preventDefault();

                    $.ajax({
                        url:    $(this).attr('action'),
                        type:   $(this).attr('method'),
                        data:   $(this).serialize(),
                        success:(function(form){return function(data) {
                            form.find('.error_list').remove();
                            if (data['success']) {
                                alert('ok');
                            } else {
                                for (key in data['errors']) {
                                    var input = form.find('*[name='+key+']');
                                    var ul = $('<ul style="color:red" class="error_list"></ul>');
                                    for (er_num in data['errors'][key]) {
                                        ul.append($('<li>'+data['errors'][key][er_num]+'</li>'));
                                    }
                                    ul.insertBefore(input);
                                }
                            }
                        };})($(this))
                    });

                });
            });
        </script>
    {% endblock %}
    {% block header %}
        <header class="header">
            <a href="{% url 'slide_page' slide_page_slug='' %}" class="header__logo">
                {% siteblock 'logo_text' %}
            </a>
            <ul class="header__menu_list">
                {% for header_menu_item in header_menu_items %}
                    <li class="header__menu_list__item">{% spaceless %}
                        <a href="{{ header_menu_item.path }}"
                           class="header__menu_list__item__link {% if header_menu_item == current_header_menu_item %}header__menu_list__item__linkCurrent{% endif %}">
                            {{ header_menu_item.text }}
                        </a>
                    {% endspaceless %}</li>
                {% endfor %}
            </ul>
        </header>
    {% endblock %}
    <section class="section">
    {% block content %}{% endblock %}
    </section>

    <footer class="footer">
        {% block footer %}
            телефон: {% siteblock "phone" %}
        {% endblock %}
        {% include 'feedback/inc/order_call_form.html' with form=order_call_form %}
    </footer>
</body>
</html>